.login-container{
    width:50vw;
    height:65vh;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.login-container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.welcome-back{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    flex:1;
    height: 100%;
    display:flex;
    justify-content: center;
}

.login-section{
    height:100%;
    width:auto;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}


.login-section .header{
    flex:1;
    
    display:flex;
    justify-content:center ;
    align-items: center;
    font-size:1.8rem;
}

.login-section .signIn-form{
    flex:4;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.login-section .signIn-form .iptContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-section .signIn-form .iptContainer input{
    margin:10px 0px;
    padding:10px;
    width:400px;
    font-size:1.1rem;
    text-align: center;
    text-transform: capitalize;
}


.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 18px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(19, 180, 249, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #3426ff 0, #b413f9 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

.forget-block span{
    color:#764ba2;
    cursor: pointer;
}

@media  screen and (max-width:800px) {
  .login-container{
    margin-right:20px;
    width:100%;
    height: 85vh;
    flex-direction: column;
   
  }

  .login-section .signIn-form{
    height:50%;
    padding:50px;
    justify-content: center;
    align-items: center;
  }

  .login-section .signIn-form .iptContainer input{
    width:75%;
  }

  .login-section .signIn-form .forget-block{
    width: 100%;
    min-height:50px;
    height:auto;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
}

