.teacherRoutineContainer{
    background:red;
    width:80vw;
    height:100vh;
    padding:40px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.header{
    font-size: 1.4rem;

}

.carousel {
    cursor: grab;
    overflow: hidden;
    background: palevioletred;
  }
  
  .item {
    min-height: 30rem;
    min-width: 20rem;
    padding: 40px;
    
  }
  
  
  
  .inner-carousel {
    display: flex;
    gap:30px;
    background: lightblue;
    
  }
  