.dashboard-container{
    width:90%;
   height: 100%;
    display:flex;
    flex-direction: column;
    
}

.dashboard-container .header{
    width:100%;
    flex:1;
    background:url('/public/office.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom:20px;
   
}

.dashboard-container .header h1{
    position:relative;
    top:20%;
    left:50%;
    font-size:2.6rem;
    display:inline-flex;
    flex-wrap:wrap;
    
}





.dashboard-container .activity-container{
    width:100%;
    flex:4;
    margin:10px 0px;
    border-radius:10px;
    position:relative;
    
   
}

.dashboard-container .activity-container .carousel{
    padding:10px 20px;
}
.dashboard-container .activity-container h2,
.dashboard-container .event-container h2
{
    width:fit-content;
    position:absolute;
    background:white;
    top:-25px;
    left:15px;
    text-transform: uppercase;
    padding:10px 5px;
    border-left:2px solid blueviolet;
    border-right:2px solid blueviolet;
    z-index:10;


}
.dashboard-container .event-container{
    margin-top:20px;
    flex:4;
    border:4px solid blueviolet;
    position: relative;
}

.dashboard-container .activity-container .activity-list,
.dashboard-container .event-container .event-list{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding-top:40px;
    padding-left:8px;
    gap:30px;
    max-height: 50vh;
}

@media  screen and (max-width:500px) {
    

.dashboard-container .activity-container .activity-list{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: center;
    width:80vw;
   
    gap:30px;
   
}

.carousel{
    cursor: grab;
    overflow: hidden;
    height:100%;
  }
  

}