.admin-option-card{
    height:100px;
    width:240px;
    padding:20px 8px;
    display:flex;
    background:rgb(255, 255, 255);
    flex-direction: row;
    border-radius:12px;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin:20px 10px;
}
.admin-option-card:hover{
 box-shadow: rgba(20, 95, 181, 0.4) 0px 0px 0px 2px, rgba(23, 58, 98, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;;
}

.image-container {
    flex:1;
    height:100%;
}
.image-container img{
    object-fit: contain;
    width:100%;
    height:100%;
}
.text-container{
    flex:1;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    text-decoration: none !important;
}


.text-container span{
    text-decoration: none !important;
}

.link-addr{
    text-decoration: none;
}
@media screen and (max-width:500px) {
    .admin-option-card{
        width:150px;
        height:200px;
        padding:10px 4px;
        flex-direction: column;
    }
    .image-container {
        flex:2;
    }
    .text-container{
        font-size:0.8rem;
        flex:1;
    }
    .text-container span{
        text-decoration: none !important;
    }
}