.coursecard-container{
    margin:10px 0px 0px 10px;
    background:#FEFEFF;
    min-height:100px;
    height:auto;
    border-radius: 4%;
    display:flex;
    flex-direction: row;
    padding:20px 5px;
    width:600px;
    height:300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}

.coursecard-container:hover{
    border:1px solid #743ad5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.coursecard-container .logo-container{
    flex:1;
    margin-left:4px;
   
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.coursecard-container .logo-container img{
    width: 140px;
    height:140px;
    object-fit: cover;
    margin:4px;
    border-style: solid;
    border-width: 2px;
    border-image-slice: 30;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    
}

.coursecard-container .body-container{
    flex:2;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    
}
.coursecard-container .body-container .top-bar{
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.coursecard-container .body-container .desc{
    flex:2;
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    
}

.coursecard-container .body-container .top-bar .icon{
    font-size:3rem;
    color:limegreen;
    cursor:pointer;
}

@media screen and (max-width:800px){
    .coursecard-container{
        width:70%;
        min-height: 200px;
        height:auto;
        margin:2% 1%;
    }

    .coursecard-container .logo-container img{
        width:90px;
        height:90px;
    }

    .coursecard-container .body-container .top-bar .icon{
        font-size:2rem;
    }

}