.container{
  display:grid;
  grid-template-columns: auto 1fr;
  gap:20px;
  height: 100vh;
  max-width: 100%;
  width:auto;
}

.container-two{
  height:100%;
  max-width: 100%;
  width:auto;
  display:flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}